<html>
  <head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Makers AirBnB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/spaces">Spaces</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/requests">Requests</a>
          </li>
        </ul>
        <form class="nav-item-sign-out">
        <a class="btn btn-outline-success my-2 my-sm-0" href="/" role="button">Sign Out</a>
        </form>
      </div>
    </nav>

    <link rel="stylesheet" href="stylesheets/requests.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <style>

    .container {
      display: flex;
      padding: 1em;
      background-color: hsl(2002, 55%, 55%);
    }

    .item {
      flex: 1;

      padding: 1em;
      margin: .6em;
      background-color: white;
    }
    </style>

  </head>
  
  <body>

    <h1 style="text-align: center; padding: 10px;"> Requests </h1>

    <section class="container">

      <article class="item"> 
        <h2 style="text-align: center;">Requests Made</h2>
        
         <% @requests.my_booking_requests.map do |booking| %>

        <div class="items-body">
                  <div class="items-body-content" href="/requests/confirmation">
                  
                 <a href="/spaces/dates/<%=booking["id"]%>" style="color: black; text-decoration: none;">
                      <%="<p>#{@requests.property_name(booking['id'])[0]["prop_name"]}</p>"%>

                      <%="<p>#{@requests.confirmation(@requests.confirmed?(booking['id'])[0]["confirmation"])}</p>"%>

                      <%="#{@requests.date_converter(@requests.start_date(booking['id']))}  - #{@requests.date_converter(@requests.end_date(booking['id']))}"%>
                </a>
                  </div>
                </div>
        <% end %>
      </article>

      <article class="item">

       <h2 style="text-align: center;">Requests Received</h2>

            <% @requests.my_space_requests.map do |booking| %>

        <div class="items-body">
                  <div class="items-body-content">
                    <a href="/requests/confirmation/<%=booking["id"]%>" style="color: black; text-decoration: none;">
                      <%="<p>#{@requests.property_name(booking['id'])[0]["prop_name"]}</p>"%>
            
                      <%="<p>#{@requests.confirmation(@requests.confirmed?(booking['id'])[0]["confirmation"])}</p>"%>

                      <%="#{@requests.date_converter(@requests.start_date(booking['id']))}  - #{@requests.date_converter(@requests.end_date(booking['id']))}"%>
                    </a>
                  </div>
          </div>
        <% end %>

      </article>

    </section>
  </body>
</html>