<html>
  <head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Makers AirBnB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/spaces">Spaces</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/requests">Requests</a>
          </li>
        </ul>
        <form class="nav-item-sign-up" style="padding-right: 10px;">
        <a class="btn btn-outline-success my-2 my-sm-0" href="/" role="button">Sign Up</a>
        </form>
        <br>
        <form class="nav-item-sign-up">
        <a class="btn btn-outline-success my-2 my-sm-0" href="/sessions/new" role="button">Sign In</a>
        </form>
      </div>
    </nav>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/requests.css">


  </head>
  
  <body>
    <br>
    <br>
    <h1 class="header">Requests</h1>
    <br>
    <br>
    <div class="row">
      <div class="column" style="background-color:white; border: solid; padding: 20px">
        <h2 style="text-align: center;">Requests Made</h2>
        
        <% @requests.my_booking_requests.map do |booking| %>

        <div class="items-body">
                  <div class="items-body-content">
                    <span>
                      <%="<p>#{@requests.property_name(booking['prop_id'])[0]["prop_name"]}</p>"%>

                      <%="<p>#{@requests.confirmation(@requests.confirmed?(booking['id'])[0]["confirmation"])}</p>"%>

                      <%="#{@requests.date_converter(@requests.start_date(booking['id'])[0]["startdate"])}  - #{@requests.date_converter(@requests.end_date(booking['id'])[0]["enddate"])}"%>
                    </span>
                  </div>
                </div>
        <% end %>

         <div class="items-body">
          <div class="items-body-content">
            <span>
              <%= @bookings.requests[1] %> <br>
              Not Confirmed <br>
              <%= @bookings.time %>
            </span>
            <i class="fa fa-angle-right"></i>
          </div>
        </div>

        <div class="items-body">
          <div class="items-body-content">
            <span>
              <%= @bookings.requests[2] %> <br>
              Not Confirmed <br>
              <%= @bookings.time %>
            </span>
            <i class="fa fa-angle-right"></i>
          </div>
        </div>
      </div>

      <div class="column" style="background-color:white; border: solid; padding: 20px;">
        <h2 style="text-align: center;">Requests Received</h2>

            <% @requests.my_space_requests.map do |booking| %>

        <div class="items-body">
                  <div class="items-body-content">
                    <span>
                      <%="<p>#{@requests.property_name(booking['prop_id'])[0]["prop_name"]}</p>"%>
            
                      <%="<p>#{@requests.confirmation(@requests.confirmed?(booking['id'])[0]["confirmation"])}</p>"%>

                      <%="#{@requests.date_converter(@requests.start_date(booking['id'])[0]["startdate"])}  - #{@requests.date_converter(@requests.end_date(booking['id'])[0]["enddate"])}"%>
                    </span>
                  </div>
                </div>
        <% end %>

        <div class="items-body">
          <div class="items-body-content">
            <span>
              <%= @bookings.requests[1] %> <br>
              Not Confirmed <br>
              <%= @bookings.time %>
            </span>
            <i class="fa fa-angle-right"></i>
          </div>
        </div>

        <div class="items-body">
          <div class="items-body-content">
            <span>
              <%= @bookings.requests[2] %> <br>
              Not Confirmed <br>
              <%= @bookings.time %>
            </span>
            <i class="fa fa-angle-right"></i>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>