<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#check-spaces').click(function() {
        let fromDate = $('#from-date').val()
        let toDate = $('#to-date').val()
        $.get('/api/properties', { datefrom: fromDate, dateto: toDate }, function(data) {

          $('#properties_list').empty()

          let filteredProperties = JSON.parse(data).forEach(function(property) {
            $('#properties_list').append(`<li class='property' id='property-${property.id}'>
              <p><b><font size="+2">${property.prop_name}</font></b></p>
              <p><font size="+1">Description: ${property.prop_description}</font></p>
              <p>Price: £${property.price_per_night}/night</p>
              <p>Available from: ${property.startdate}</p>
              <p>Available until: ${property.enddate}></p>
            </li>`)
          })


        })
      })
    })
  </script>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Makers AirBnB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/spaces">Spaces</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/requests">Requests</a>
        </li>
      </ul>
      <br>
      <form class="nav-item-sign-up">
        <a class="btn btn-outline-success my-2 my-sm-0" href="/" role="button">Sign Out</a>
      </form>
    </div>
  </nav>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>

    // Creating Columns
      * {
        box-sizing: border-box;
      }
      .header {
        text-align: center;
      }


      // Requests Box
      $pri: #128CFC;
      $sec: #fffffe;
      $dark-pri: #0B5AA2;
      * {
        box-sizing: border-radius;
        font-family: 'Rubik', sans-serif;
      }
      .container {
        border: 10px solid black;
        
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        margin: auto;
        
        display: grid;
        place-items: center;
        background-color: blue;
      }

      .items {
        width: 300px;
        background: $sec;
        box-shadow: 0 3px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23);
        border-top: 10px solid $dark-pri;
      }

      .items-head p{
        padding: 5px 20px;
        margin: 10px;
        color: #0B5AA2;
        font-weight: bold;
        font-size: 20px;
      }

      .items-head hr {
        width: 20%;
        margin: 0px 30px;
        border: 1px solid $dark-pri;
      }

      .items-body {
        padding: 10px;
        margin: 10px;
        margin-right: 45px;
        display: grid;
        grid-gap: 10px;
      }

      .items-body-content {
        padding: 10px;
        grid-template-columns: 10fr 1fr;
        font-size: 13px;
        grid-gap: 10px;
        border: 1px solid transparent;
        cursor: pointer;
        
      }

      .property{
        padding: 10px;
        display: row;
        grid-template-rows: 10fr 1fr;
        margin: 3px;
        background-color: lightblue;
        font-size: 13px;
        grid-gap: 10px;
        border: 1px solid transparent;
        border-radius: 15px;
        cursor: pointer;
        text-align: center;

      }

      .property:hover{
        border-radius: 15px;
        border: 1px solid;
        background-color: red;
      }


      .items-body-content i {
        align-self: center;
        font-size: 15px;
        color: $dark-pri;
        font-weight: bold;
        animation: icon 1.5s infinite forwards;
      }
    </style>
</head>

  
    <body>

        <center>
            <br>
            <br>
            <h1 class="header">Book a Space</h1>
            <br>
            <br>
        </center>


        <center>
        <input type="submit" value="List a Space" style="padding: 10px; margin-bottom: 20px">
        </center>
        <center>
            <div class="date" style="padding: 20px">
                Available from:
                <input id='from-date' type="date" name="from_date" style="margin-right: 10px">
                Available until:
                <input id='to-date' type="date" name="until_date" style="margin-right: 10px">
                <input id='check-spaces' type="submit" value="Show Spaces">
                </form>
            </div>

        </center

        <center>
            <div class="column" style="background-color:white; border: solid; padding: 20px; padding-right: 30px; margin-left: 250px; margin-right: 250px">
                <ul style="list-style-type:none">
                    <div class="items-body">
                        <div id='properties_list' class="items-body-content">
                                    <% @properties.each do |property| %>
                                        <li class="property" id="property-<%= property.id %>">
                                            <p><b><font size="+2"><%= property.prop_name %></font></b></p>
                                            <p><font size="+1">Description: <%= property.prop_description%></font></p>
                                            <p>Price: £<%= property.price_per_night%>/night</p>
                                            <p>Available from: <%= property.startdate%></p>
                                            <p>Available until: <%= property.enddate%></p>
                                        </li>
                                    <% end %>  
                
                        </div>
                    </div>
                </ul>
            </div>   
        </center>
 
    <body>

</html>